<div class="request-bar">
  <select class="method-select" [(ngModel)]="requestMethod" 
          (ngModelChange)="requestMethodChange.emit($event)">
    <option>GET</option>
    <option>POST</option>
    <option>PUT</option>
    <option>PATCH</option>
    <option>DELETE</option>
    <option>HEAD</option>
    <option>OPTIONS</option>
  </select>
  <input type="text" class="url-input" placeholder="Enter URL"
       [(ngModel)]="requestUrl" 
       (ngModelChange)="requestUrlChange.emit($event)">

<div class="send-group">
  <button class="send-button"
          [ngClass]="{ 'cancel-button': isSending }"
          (click)="onSendClick()">
    {{ isSending ? 'Cancel' : 'Send' }}
  </button>

  <button *ngIf="!isSending"
          class="dropdown-toggle"
          (click)="toggleDropdown()">v</button>

  <div class="dropdown-menu" *ngIf="dropdownOpen">
    <button (click)="onSendAndDownload()">Send and Download</button>
  </div>
</div>
</div>
