<div class="response-header">
  <div class="tabs">
    <button [class.active]="tab === 'body'" (click)="tab = 'body'">Body</button>
    <button [class.active]="tab === 'cookies'" (click)="tab = 'cookies'">Cookies</button>
    <button [class.active]="tab === 'headers'" (click)="tab = 'headers'">Headers</button>
  </div>

  <!-- só aparece na aba Body -->
  <div class="format-selector" *ngIf="tab === 'body'">
    <select [(ngModel)]="format">
      <option *ngFor="let f of formats" [value]="f">{{ f.toUpperCase() }}</option>
    </select>
  </div>
</div>

