/* src/app/sidebar/sidebar.css */
:host {
  display: block;
  width: 280px; /* Largura fixa da sidebar */
  background-color: #104C9E;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  font-size: 14px;
  border-right: solid 5px #F99C1C;
}

.sidebar-header {
  display: flex;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.sidebar-header button {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #F99C1C;
  cursor: pointer;
  background-color: #F99C1C;
  color: white;
  font-weight: bold;
}

.btn-new {
  flex-grow: 1;
}
.btn-new .fa-plus {
  margin-right: 5px;
}

.quick-actions {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  border-top: 1px solid #ddd;
}

.action-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  color: #f3f2f2;
  padding: 5px 10px;
  border-radius: 4px;
}
.action-item.active {
  color: white;
  background-color: #F99C1C;
}

.search-bar {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white;
}

.search-bar .fa-search {
  color: #888;
  margin-right: 8px;
}

.search-bar input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
}

.collection-list {
  padding: 10px;
  flex-grow: 1;
}

.collection-header {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 5px;
  font-weight: 500;
  background-color: #2f70cc;
}
.collection-header:hover {
  background-color: #eee;
}

.request-list {
  padding-left: 20px;
}

.request-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px 5px 5px 15px; /* Alinhar com o ícone da coleção */
  cursor: pointer;
  background-color: #508ce0;
}
.request-item:hover {
  background-color: #96b1d3;
}

.method {
  font-weight: bold;
  font-size: 12px;
  width: 45px;
  text-align: left;
}

.method-get { color: #006b19; }
.method-post { color: #ffc107; }
.method-put { color: #002853; }
.method-delete { color: #dc3545; }