:host {
  display: block;
  background-color: #104C9E;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  border-right: solid 5px #F99C1C;
  position: relative;
  transition: border-right-width 0.4s ease-in-out;
  overflow: hidden; 
}

.sidebar-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  min-width: 180px; 
}

.resizer {
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
  cursor: col-resize;
  z-index: 9;
}


.sidebar-header {
  display: flex;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.sidebar-header button {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #F99C1C;
  cursor: pointer;
  background-color: #F99C1C;
  color: white;
  font-weight: bold;
}

.btn-new {
  flex-grow: 1;
}
.btn-new .fa-plus {
  margin-right: 5px;
}

.quick-actions {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  border-top: 1px solid #ddd;
}

.action-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  color: #f3f2f2;
  padding: 5px 10px;
  border-radius: 4px;
}
.action-item.active {
  color: white;
  background-color: #F99C1C;
}

.search-bar {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white;
}

.search-bar .fa-search {
  color: #888;
  margin-right: 8px;
}

.search-bar input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
}

.collection-list {
  padding: 10px;
  flex-grow: 1;
}

.collection-header {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 5px;
  font-weight: 500;
  background-color: #2f70cc;
  color: white;
}
.collection-header:hover {
  background-color: #265ca7;
}

.request-list {
  padding-left: 20px;
}

.request-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px 5px 5px 15px;
  cursor: pointer;
  background-color: #508ce0;
  color: white;
}
.request-item:hover {
  background-color: #4176c7;
}

.method {
  font-weight: bold;
  font-size: 12px;
  width: 45px;
  text-align: left;
}

.method-get { color: #c8ffce; }
.method-post { color: #f0f0c0; }
.method-put { color: #c2faff; }
.method-delete { color: #ffc4c4; }
